* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
}

main {
  background-color: #F6F6F6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
header img {
  width: 162px;
  height: 60px;
  object-fit: contain;
}
header h1 {
  text-align: center;
}
header p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: #353535;
}
header .btn {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
header .btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1440px) {
  form {
    box-shadow: none;
  }
}
form input {
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
}
form input:focus {
  outline: none;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background-color: #ffffff;
  padding: 50px 0;
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}
.fonctionnement h2 {
  width: 100%;
  padding: 20px;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  counter-reset: list-counter;
}
@media screen and (min-width: 1440px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    gap: 34px;
  }
}
.fonctionnement ol li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  counter-increment: list-counter;
}
.fonctionnement ol li:hover i {
  color: #9356DC;
}
.fonctionnement ol li::before {
  content: counter(list-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: -12px;
}
.fonctionnement ol li i {
  margin-right: 20px;
  font-size: 20px;
  color: #7e7e7e;
}
.fonctionnement ol li p {
  font-weight: 500;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
.restaurants h2 {
  width: 100%;
  padding-left: 20px;
}
.restaurants ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .restaurants ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
    padding: 0 180px;
  }
}
.restaurants li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.restaurants img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurants figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}
.restaurants figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  gap: 5px;
}
.restaurants .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.restaurants b {
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 2px;
  color: #008766;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}
.restaurants h3 {
  width: 90%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.restaurants p {
  width: 90%;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.restaurants i {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.restaurants i:hover {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
  text-shadow: none;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
footer img {
  width: 137px;
  height: 44px;
  object-fit: contain;
  color: #ffffff;
}
footer ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer li {
  width: 100%;
  gap: 5px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  gap: 10px;
}
footer .fa-utensils {
  font-size: 16px;
}
footer .fa-hands-helping {
  font-size: 12px;
}
footer i {
  font-size: 20px;
  color: #ffffff;
}

/*# sourceMappingURL=index.css.map */
