@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
}

main {
  background-color: #F6F6F6;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Décalage initial */
    z-index: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }
}
/* Animation pour chaque section avec un délai décalé */
.entrees, .plats, .desserts {
  animation: fade-in 0.5s forwards;
  z-index: -1;
}

.entrées {
  animation-delay: 0.2s; /* Délai pour la section d'entrées */
}

.plats {
  animation-delay: 0.5s; /* Délai pour la section de plats */
}

.desserts {
  animation-delay: 1s; /* Délai pour la section de desserts */
}

body {
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  padding: 13px 0 13px 17px;
}
header i {
  display: flex;
  font-size: 20px;
  color: #353535;
}
header img {
  width: 137px;
  height: 44px;
  object-fit: contain;
  margin: auto;
}

[id=menu] {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  [id=menu] {
    margin: 0 192px;
  }
}
[id=menu] header {
  padding: 0;
  display: flex;
  flex-direction: column;
}
[id=menu] header img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  z-index: 0;
}
[id=menu] header h1 {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 28px;
  font-weight: bolder;
  line-height: 40.82px;
  border-radius: 40px 40px 0 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  top: 17rem;
  background-color: #F6F6F6;
  padding: 31px 17px 0 17px;
}
@media screen and (min-width: 1440px) {
  [id=menu] header h1 {
    display: flex;
    justify-content: center;
  }
}
[id=menu] header i {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 20rem;
  font-size: 20px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
[id=menu] header i:hover, [id=menu] header i:focus {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
  text-shadow: none;
  transition: 0.5s background-color;
}
@media screen and (min-width: 1440px) {
  [id=menu] header i {
    right: 35rem;
    top: 19.6rem;
    font-size: 25px;
  }
}
[id=menu] h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  padding-left: 17px;
  position: relative;
  padding-bottom: 12px;
}
[id=menu] h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  left: 1rem;
  top: 20px;
}
[id=menu] li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: 17px 17px 0 17px;
  overflow: hidden;
  position: relative;
}
[id=menu] li:hover {
  animation: expand-padding 0.5s forwards;
}
[id=menu] li:not(:hover) {
  animation: shrink-padding 0.8s forwards;
}
@keyframes expand-padding {
  0% {
    padding-right: 30px;
  }
  100% {
    padding-right: 100px;
  }
}
@keyframes shrink-padding {
  0% {
    padding-right: 100px;
  }
  100% {
    padding-right: 30px;
  }
}
[id=menu] li .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
[id=menu] li img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  z-index: 0;
}
[id=menu] li h3 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 17px;
  margin-top: 17px;
  margin-right: 0;
}
[id=menu] li p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 17px;
  margin-bottom: 17px;
  margin-right: 0;
}
[id=menu] li i {
  display: flex;
  align-items: center;
  position: absolute;
  right: -3rem;
  background-color: #99E2D0;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0 15px 15px 0;
  height: 100%;
  transition: right 0.5s ease-in-out;
}
[id=menu] li i:hover + li {
  transform: translateX(0);
}
[id=menu] li:hover i {
  right: 0;
}
[id=menu] li:hover b {
  right: 3.5rem;
}
[id=menu] li b {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 2.5rem;
  transition: right 0.5s ease-in-out;
  background-color: #ffffff;
}

button {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  opacity: 0.8;
  transition: 0.5s opacity;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
footer img {
  width: 137px;
  height: 44px;
  object-fit: contain;
  color: #ffffff;
}
footer ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer li {
  width: 100%;
  gap: 5px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .fa-utensils {
  font-size: 16px;
}
footer .fa-hands-helping {
  font-size: 12px;
}
footer i {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px;
  }
  footer img {
    width: 162px;
    height: 60px;
    object-fit: contain;
  }
  footer ul {
    width: 55%;
    flex-direction: row;
    gap: 7px;
  }
}

/*# sourceMappingURL=menus.css.map */
