header {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 162px;
    height: 60px;
    object-fit: contain;
  }

  h1 {
    text-align: center;
    margin-top: 39px;
  }

  p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: $dark-grey;
  }

  .btn {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    border: none;
    background: $gradient-btn;
    box-shadow: $box-shadow-btn;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
      transition: 0.5s;
    }
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  width: 100%;
  height: 50px;
  background-color: $background-form;
  box-shadow: $box-shadow-form;

  @media screen and (min-width: 1440px) {
    box-shadow: none;
  }

  input {
    border: none;
    background-color: $background-form;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background-color: $white;
  padding: 50px 0;

  @media screen and (min-width: 1440px) {
    padding: 50px 180px;
  }

  h2 {
    width: 100%;
    padding: 20px;
  }

  ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    counter-reset: list-counter;

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: row;
      gap: 34px;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 70px;
      margin: 10px 0;
      border-radius: 20px;
      background-color: $light-grey;
      box-shadow: $box-shadow-btn;
      cursor: pointer;
      counter-increment: list-counter;

      &:hover {
        i {
          color: $primary-color;
        }
      }

      &::before {
        content: counter(list-counter);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: -12px;
      }

      i {
        margin-right: 20px;
        font-size: 20px;
        color: $i-color;
      }

      p {
        font-weight: 500;
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: $light-grey;
  padding-bottom: 40px;

  h2 {
    width: 100%;
    padding-left: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 34px;
      padding: 0 180px;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    border-radius: 20px;
    background-color: $white;
    box-shadow: $box-shadow-btn;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    gap: 5px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
  }

  b {
    font-size: 14px;
    font-weight: 500;
    background-color: $tertiary-color;
    padding: 5px 10px;
    border-radius: 2px;
    color: #008766;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }

  h3 {
    width: 90%;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    width: 90%;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  i {
    margin-left: auto;
    margin-right: 20px;
    @include hearth
  }

  a {
    text-decoration: none;
    color: black;
  }
}

footer {
  background-color: $dark-grey;
  color: $white;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;

  img {
    width: 137px;
    height: 44px;
    object-fit: contain;
    color: $white;
  }

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  li {
    width: 100%;
    gap: 5px;
  }

  a {
    text-decoration: none;
    color: $white;
    display: flex;
    gap: 10px;
  }

  .fa-utensils {
    font-size: 16px;
  }

  .fa-hands-helping {
    font-size: 12px;
  }

  i {
    font-size: 20px;
    color: $white;
  }
}