$light-grey: #F6F6F6;
$gradient-btn: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$new-color: #008766;
$dark-grey: #353535;
$white: #ffffff;
$background-form: #eaeaea;
$i-color: #7e7e7e;

$box-shadow-form: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-btn: 0px 4px 15px rgba(0, 0, 0, 0.15);
$box-shadow-menu: 0px 4px 15px rgba(0, 0, 0, 0.25);

@mixin hearth {
  font-size: 20px;
  color: $white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  &:hover,
  &:focus {
    background: $gradient-btn;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
    text-shadow: none;
    transition: 0.5s background-color;
  }
}

@mixin btn {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  background: $gradient-btn;
  box-shadow: $box-shadow-btn;
  color: $white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transition: 0.5s opacity;
    box-shadow: $box-shadow-form;
  }
}

@mixin footer {
  background-color: $dark-grey;
  color: $white;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;

  img {
    width: 137px;
    height: 44px;
    object-fit: contain;
    color: $white;
  }

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  li {
    width: 100%;
    gap: 5px;
  }

  a {
    text-decoration: none;
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .fa-utensils {
    font-size: 16px;
  }

  .fa-hands-helping {
    font-size: 12px;
  }

  i {
    font-size: 20px;
    color: $white;
  }

  @media screen and (min-width: 870px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px;

    img {
      width: 162px;
      height: 60px;
      object-fit: contain;
    }

    ul {
      width: 55%;
      flex-direction: row;
      gap: 7px;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: 0;
}

main {
  background-color: $light-grey;
}
