header {
  display: flex;
  align-items: center;
  padding: 13px 0 13px 17px;

  i {
    display: flex;
    font-size: 20px;
    color: $dark-grey;
  }

  img {
    width: 137px;
    height: 44px;
    object-fit: contain;
    margin: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 1440px) {
    margin: 0 192px;
  }

  header {
    padding: 0;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      object-fit: cover;
      height: 250px;
      z-index: 0;
    }

    h1 {
      font-family: 'Shrikhand', serif;
      font-style: italic;
      font-size: 28px;
      font-weight: bolder;
      line-height: 40.82px;
      border-radius: 40px 40px 0 0;
      width: 100%;
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      top: 17rem;
      background-color: $light-grey;
      padding: 31px 17px 0 17px;

      @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: center;
      }
    }

    i {
      position: absolute;
      z-index: 1;
      right: 1rem;
      top: 20rem;
      @include hearth;

      @media screen and (min-width: 1440px) {
        right: 35rem;
        top: 19.6rem;
        font-size: 25px;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    padding-left: 17px;
    position: relative;
    padding-bottom: 12px;
  
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $tertiary-color;
      left: 1rem;
      top: 20px;
    }
  }
  
  li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $white;
    border-radius: 20px;
    box-shadow: $box-shadow-btn;
    margin: 17px 17px 0 17px;
    overflow: hidden;
    position: relative;
  
    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
      z-index: 0;
    }
  
    h3 {
      font-size: 18px;
      font-weight: 700;
      padding-left: 17px;
      margin-top: 17px;
    }
  
    p {
      font-size: 14px;
      font-weight: 300;
      padding-left: 17px;
      margin-bottom: 17px;
    }
  
    i {
      position: absolute;
      right: -3rem;
      background-color: $tertiary-color;
      color: $white;
      padding: 1rem;
      border-radius: 0 15px 15px 0;
      height: 100%;
      align-self: center;
      transition: right 0.5s ease-in-out;

      &:active + li {
        transform: translateX(0);
      }
    }

    &:active i {
      right: 0;
    }

    &:active b {
      right: 3.5rem;
    }

    b {
      position: absolute;
      z-index: 1;
      right: 0.5rem;
      top: 2.5rem;
      transition: right 0.5s ease-in-out;
    }
  }
}

button {
  @include btn;

}

footer {
  @include footer;
}
